<div class="container">
  <h2>Angular pipes</h2>

  <button class="btn" (click)="searchField = 'title'">Title</button>
  <button class="btn" (click)="searchField = 'text'">Text</button>
  <hr>
  <button class="btn" (click)="addPost()">Add Post</button>
  <input type="text" [(ngModel)]="search">

  <div class="card" *ngFor="let post of posts | filter:search:searchField">
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
  </div>

  {{promise | async}}

  <p>{{date | async | date:'medium' }}</p>

</div>
